.pagination {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid silver;
  border-radius: 6px;
  height: 50px;
  margin: 40px auto 40px;

  &__page {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
